BasedOnStyle: Google
Language: Cpp
Standard: Cpp11
ColumnLimit: 120

TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
IndentWidth: 4

DerivePointerAlignment: false
PointerAlignment: Middle

SeparateDefinitionBlocks: Always
SpaceBeforeAssignmentOperators: true

InsertBraces: true
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterControlStatement: Always
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: true
    AfterStruct: true
    AfterUnion: true
    BeforeCatch: true
    BeforeElse: true
    BeforeLambdaBody: true
    IndentBraces: false

SortIncludes: false
IncludeCategories:
  - Regex: '^<[a-z_]+>'
    Priority: 1
  - Regex: '^<[a-z_]+.h>'
    Priority: 2
  - Regex: '^["<](common|ext|mysqlxx|daemon|zkutil)/'
    Priority: 90
  - Regex: '^["<](DB)/'
    Priority: 100
  - Regex: '^["<](Poco)/'
    Priority: 50
  - Regex: '^"'
    Priority: 110
  - Regex: '/'
    Priority: 30
  - Regex: '.*'
    Priority: 40
